<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">顧客一覧</h3><br>
        <%= link_to "新規登録", new_customer_path %>
        <div class="box-tools">
          <div class="input-group" style="width: 150px;">
            <input type="text" name="table_search" class="form-control input-sm pull-right" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tr>
            <th>名前</th>
            <th>郵便番号</th>
            <th>都道府県</th>
            <th>市町村</th>
          </tr>
          <% @customers.each do |customer| %>
          <tr>
          <td><%= link_to customer.name, customer_path(customer) %></td>
          <td><%= customer.zip %></td>
          <td><%= customer.address1 %></td>
          <td><%= customer.address2 %></td>
          </tr>
          <% end %>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div>
</div>

<%= link_to "トップに戻る", root_path %>
